.web-outstandind-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
#carousel-compare{
  height: 270px;
  .compare-item{
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
  }
  .compare1{
    background-image: url('../../assets/img/compare1.png');
  }
  .compare2{
    background-image: url('../../assets/img/compare2.png');
  }
  .compare3{
    background-image: url('../../assets/img/compare3.png');
  }
  .compare4{
    background-image: url('../../assets/img/compare4.png');
    width: 350px !important;
    margin: auto;
  }
}

.compare-list{
  background-image: url('../../assets/img/compare-list-bg.png');
  margin: 15px;
  background-size: contain;
  height: 228px;
  .list-content{
    display: flex;
    justify-content: center;
    align-items: center;
    .content-item{
      width: 33%;
      &:nth-child(1){
        color: #816C4B;
        font-size: 13px;
      }
      &:nth-child(2){
        color: #B58B4A;
        width: 124px;
        flex-shrink: 0;
        background-color: #ffc40033;
        text-align: center;
        height: 47px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        padding: 0 8px;
      }
      &:nth-child(3){
        width: 124px;
        color: #878787;
        flex-shrink: 0;
        font-size: 13px;
        padding: 0 8px;
      }
    }
  }
  .list-title{
    display: flex;
    height: 36px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #816c4b42;
    .title-item{
      width: 33%;
      font-size: 14px;
      &:nth-child(2){
        color: $primary;
        font-weight: 700;
        line-height: 36px;
        height: 36px;
        background-color: #ffc40033;
        position: relative;
        padding-left: 8px;
        width: 124px;
        flex-shrink: 0;
        &::before{
          content: '';
          position: absolute;
          width: 20px;
          height: 20px;
          background-image: url('../../assets/img/compare-icon.svg');
          left: 7px;
          top: 7px;
        }
      }
      &:nth-child(3){
        color: $secondary;
        width: 124px;
        flex-shrink: 0;
        font-weight: 700;
      }
    }
  }
}

.qa{
  margin-bottom: 56px !important;
  .qa-wrap{
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 11px #cfcfcf;
    margin: 15px;
  }
  .qa-item{
    height: 45px;
    width: 100%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #4A4A4A;
    border-bottom: 1px solid #EFEFEF;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      background-image: url('../../assets/img/arrow_right_gray.svg');
      width: 20px;
      height: 20px;
      right: 10px;
      background-repeat: no-repeat;
      top: 10px;
      transform: rotate(180deg);
    }
  }
}
