.badge_btns {
  width: 95px;
  height: 26px;
  justify-content: space-between;
  padding: 0 12px;
  line-height: 23px;
  background-image: url("../../assets/img/button-wrap.svg");
  .start_btn {
    color: $white;
  }
  .end_btn {
    color: $primary;
  }
}
