.card-bank {
  background-image: linear-gradient(158deg, #f9df7b 9%, #fffbe1 66%);
}
.card {
  box-shadow: 0px 3px 6px #8c5f0633;
  border: none;
  border-radius: 0.5rem;
}
.card-body {
  padding: 1rem;
  .col-3.px-2.col-form-label {
    padding-left: 0px !important;
    color: #4a4a4a !important;
  }
  .recharge-type-btn {
    width: 152px;
    height: 60px;
    &.atm-recharge-icon {
      background-image: url("../img/atm-recharge-icon.svg");
      &.active {
        background-image: url("../img/atm-recharge-icon-active.svg");
      }
    }
    &.store-recharge-icon {
      background-image: url("../img/store-recharge-icon.svg");
      &.active {
        background-image: url("../img/store-recharge-icon-active.svg");
      }
    }
  }
  .store-btn {
    width: 75px;
    height: 40px;
    border-radius: 6px;
    font-size: 15px;
    background: #f8f8f8;
    color: #573b02;
    display: flex;
    justify-content: center;
    align-items: center;
    &.active {
      background: transparent linear-gradient(40deg, #8c5f06 0%, #b48018 100%)
        0% 0% no-repeat padding-box;
      color: #fff;
    }
  }
}
.card-title {
  font-size: 16px;
  color: #816c4b;
  padding: 0.5rem 1rem;
  margin-bottom: -1rem;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 5px;
    height: 23px;
    background: #ffde00;
  }
}
.msg-card {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: $red;
    border-radius: 100px;
    top: 5px;
    left: 5px;
  }
  &.msg-card-readed {
    opacity: 0.5;
    &::before {
      display: none;
    }
  }
}
