.text-dark {
  color: #573b02 !important;
}
.fs-14 {
  font-size: 14px;
}
.btn-gray.active {
  border: 1px solid #067b0f;
}
.text-line-clamp {
  width: 300px;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #575757 !important;
}
.text-gray62 {
  color: #626262;
}
.text-gray2e {
  color: #2e2e2e;
}
.text-gray95 {
  color: #959595;
}
.text-black-33 {
  color: #333;
}
.text-black-4a {
  color: #4a4a4a;
}
